<strong>Recuperação de Senha</strong>

<p>Uma solicitação de recuperação de senha foi realizada para o e-mail ({{email}}).</p>

<p>Para continuar, utilize o token {{token}} ou clique no link abaixo:</p>
<a href="{{link}}">Criar nova senha</a>

<p>OBS: Caso você não tenha solicitado esta recuperação de senha recomendamos alterar a senha.</p>
